@media (min-width: 900px) {
  @keyframes carousel {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-100.00% + 20px));
      }
    }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100.00% + 20px));
  }
}

  .a:hover * {
    animation-play-state: paused;
  }

  .animateCarousel {
    animation: carousel 45s linear infinite;
    will-change: transform;
  }

  .scrollContainer {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
  }
  
  /* Optional styling */
  .carouselContent {
    display: flex;
    gap: 20px;
  }
  
  