@keyframes carousel {
    0% {
      transform: translateX(0);
    }
    25% {
      .b {
        order: 3;
      }
    }
    75% {
      .b {
        order: 1;
      }
    }
    100% {
      transform: translateX(-33.33333%);
    }
  }

  .a {
    order: 2;
  }

  .b {
    order: 3;
  }
  
  .animateCarousel {
    animation: carousel 20s linear infinite;
    will-change: transform;
  }
  
  .animateCarousel:hover {
    animation-play-state: paused;
  }